.teles{
  display: flex;
  justify-content: space-around;
  background: rgb(143, 137, 137);
  margin-bottom: 24px;
  position: absolute;
  top:-9px;
  right: 0;
  left: 0;
  width: 100%;
 }


 h2{
  font-family:"Open Sans";
 }

 
 @media (max-width: 600px){
  .teles{
    flex-direction: column;
  }
 }


 .hem:hover{
  color: white;
 }


 .relo:hover{
  color: white;
 }


 .vem:hover{
  color: white;
 }


 .nelot{
  animation: none;
  width: 400px;
  height: 50px;
  position: relative;
  top: 15px;
  border-radius: 25px;
  }


 .repolt{
  animation: none;
  width: 250px;
  height: 50px;
  position: relative;
  top: 15px;
  border-radius: 14px;
 }


 


 .helu{
   display: block;
   text-align: center;
   margin-top: 100px;

 }


 .butt{
   position: absolute;
   top: 35%;
   left: 45%;
   height: 150px;
   margin-top: 95px;
   width: 200px;
   height: 50px;
   border-radius: 27px;
 }


 .butt{
  animation: pulse 2s infinite;
  font-family:"Open Sans";
 }


 .butt:hover{
    background: rgb(85, 83, 83);
    color: white;

 }


  @keyframes pulse{
  50% {transform: scale(2)}
 }


 .imgr{
  border-radius: 50px;
 }


 .btn{
  animation: none;
 }


 .remoper{
  position: relative;
  top: -740px;
  text-align: center;
  font-size: 35px;
  font-family: "Fira Sans";
 }


 .rule{
    animation: none;
  }


 .form-group{
display: block;
margin-bottom: 15px;
 }





 .products{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
   gap: 450px;
   margin-top: 24px;
 }


 .product-card{
   display: flex;
   flex-direction: column;
   height: 100%;
   border: 1px solid color #ccc;
   padding: 10px;
 }


 .product-content{
   flex-grow: 1;
 }


  p{
  font-family: "Open Sans";
  font-weight: bold;
 }


  .product-actions{
   display: flex;
   justify-content: space-between;
   margin-top: auto;
   }


  .buttone:hover{
    background: orange;
    color: white;
  }


  .buttone{
  animation: none;
 }


  .butto:hover{
    background: green;
    color: white;
  }


  .butto{
  animation: none;
 }


  .cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
 }


  .card{
    border: none;
    border-radius: 25px;
    font-size: 50px;
  }


 


  .tel{
  display: flex;
  Justify-content: space-around;
  background: rgb(78, 76, 76);
  margin-top: 2500px;
  padding: 14px;
  position: absolute;
  top: 9px;
  right: 0;
  left: 0;
  width: 100%;
  height: 35%;
 }


 .femonet{
  display: flex;
  Justify-content: space-around;
  padding: 32px;
  position: relative;
  top: 9px;
  right: 0;
  left: 0;
  width: 100%;
  height: 35%;
  transform: translateY(50%);
 }

 
 .hemon:hover{
  color: white;
 }


 .relon:hover{
  color: white;
 }


 .vemol:hover{
  color: white;
 }


  @media (max-width: 600px){
  .tel{
    flex-direction: column;
  }
 }
